# Additional requirements for development and testing

# testing
pytest
pycodestyle

# testing demo notebook
jupyter
fiona <= 1.8.18  # fixes issue with travis
cartopy  # requires conda
pyepsg

# building documentation
numpydoc
sphinx
sphinx_rtd_theme
